name: flounder

description: A cross-platform counter that can be used for the time-management in scientific talks.

publish_to: 'none'

version: 1.2.0


environment:
  sdk: ">=2.16.1 <3.0.0"


flutter:
  uses-material-design: true

  assets:
    - assets/ding.wav
  
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/roboto/Roboto-Light.ttf
          weight: 300
        - asset: assets/fonts/roboto/Roboto-Regular.ttf
          weight: 400
        - asset: assets/fonts/roboto/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/roboto/Roboto-Bold.ttf
          weight: 700


dependencies:
  flutter:
    sdk: flutter
  
  msix: ^3.7.0

  audioplayers: ^3.0.0
  floating: ^2.0.0
  wakelock: ^0.6.0
  shared_preferences: ^2.0.0
  window_manager: ^0.2.0

  flutter_launcher_icons: ^0.11.0
  cupertino_icons: ^1.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0


flutter_icons:
  android: true
  image_path_android: "assets/android-icon.png"
  adaptive_icon_foreground: "assets/android-icon.png"
  adaptive_icon_background: "#ffffff"
  ios: true
  image_path_ios: "assets/ios-icon.png"
  remove_alpha_ios: true
  web:
    generate: true
    # The maskable image will be manually replaced later
    image_path: "assets/desktop-icon.png"
    background_color: "#1f1f1f"
    theme_color: "#1f1f1f"
  windows:
    generate: true
    image_path: "assets/desktop-icon.png"
    icon_size: 48
  macos:
    generate: false


msix_config:
  display_name: Flounder
  publisher_display_name: Marco Hufnagel
  identity_name: com.hepmh.Flounder
  msix_version: 1.2.0.0
  logo_path: .\assets\desktop-icon.png
  #
  output_path: packages
  output_name: flounder-latest-windows-x86_64
  architecture: x64
  build_windows: false
  #
  certificate_path: .\MSIX.pfx
  sign_msix: true
  install_certificate: true


# flutter_native_splash:
#   color: "#1f1f1f"
#   image: assets/desktop-icon.png

#   android_12:
#     color: "#1f1f1f"
#     image: assets/android-icon.png
#     icon_background_color: "#ffffff"

#   android: false
#   ios: false
#   web: false

#   # https://developer.android.com/reference/android/view/Gravity
#   android_gravity: center
#   # https://developer.apple.com/documentation/uikit/uiview/contentmode
#   ios_content_mode: center
#   # center, contain, stretch, and cover
#   web_image_mode: center

#   fullscreen: false