name: Flounder

description: A cross-platform counter that can be used for the time-management in scientific talks.

publish_to: 'none'

version: 0.1.0+1


environment:
  sdk: ">=2.16.1 <3.0.0"


dependencies:
  flutter:
    sdk: flutter

  audioplayers: ^1.0.1
  wakelock: ^0.6.2
  shared_preferences: ^2.0.15
  window_manager: ^0.2.5
  flutter_launcher_icons: ^0.10.0
  cupertino_icons: ^1.0.2
  msix: ^3.6.3


flutter_icons:
  android: true
  image_path_android: "assets/android-icon.png"
  adaptive_icon_foreground: "assets/android-icon.png"
  adaptive_icon_background: "#ffffff"
  ios: true
  image_path_ios: "assets/ios-icon.png"
  remove_alpha_ios: true
  web:
      generate: true
      image_path: "assets/desktop-icon.png"
      background_color: "#ffffff"
      theme_color: "#ffffff"
  windows:
    generate: true
    image_path: "assets/desktop-icon.png"
    icon_size: 48


msix_config:
  display_name: Flounder
  publisher_display_name: Marco Hufnagel
  identity_name: com.hepmh.Flounder
  msix_version: 0.1.0.1
  # logo_path:


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0


flutter:
  uses-material-design: true

  assets:
    - assets/ding.mp3
