name: flounder

description: A cross-platform counter that can be used for the time-management in scientific talks.

publish_to: 'none'

version: 0.1.0+1


environment:
  sdk: ">=2.16.1 <3.0.0"


dependencies:
  flutter:
    sdk: flutter

  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding.git
      path: plugins/window_size

  audioplayers: ^1.0.1

  flutter_launcher_icons: ^0.10.0

  cupertino_icons: ^1.0.2


flutter_icons:
  android: true
  image_path_android: "assets/flounder.png"
  adaptive_icon_foregorund: "assets/flounder.png"
  adaptive_icon_background: "#ffffffff"
  ios: true
  image_path_ios: "assets/flounder.png"
  remove_alpha_ios: true
  web:
      generate: true
      image_path: "assets/flounder.png"
      background_color: "#ffffffff"
      theme_color: "#ff1f1f1f"
  windows:
    generate: true
    image_path: "assets/flounder.png"
    icon_size: 48


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0


flutter:
  uses-material-design: true

  assets:
    - assets/ding.mp3
