name: flounder

description: A cross-platform counter that can be used for the time-management in scientific talks.

publish_to: 'none'

version: __VERSION__


environment:
  sdk: ">=2.16.1 <3.0.0"


dependencies:
  flutter:
    sdk: flutter

  audioplayers: ^1.0.1
  wakelock: ^0.6.2
  shared_preferences: ^2.0.15
  window_manager: ^0.2.5
  flutter_launcher_icons: ^0.10.0
  #flutter_native_splash: ^2.2.7
  cupertino_icons: ^1.0.2
  msix: ^3.6.3


flutter_icons:
  android: true
  image_path_android: "assets/android-icon.png"
  adaptive_icon_foreground: "assets/android-icon.png"
  adaptive_icon_background: "#ffffff"
  ios: true
  image_path_ios: "assets/ios-icon.png"
  remove_alpha_ios: true
  web:
    generate: true
    # The maskable image will be manually replaced later
    image_path: "assets/desktop-icon.png"
    background_color: "#1f1f1f"
    theme_color: "#1f1f1f"
  windows:
    generate: true
    image_path: "assets/desktop-icon.png"
    icon_size: 48


flutter_native_splash:
  color: "#1f1f1f"
  image: assets/desktop-icon.png

  android_12:
    color: "#1f1f1f"
    image: assets/android-icon.png
    icon_background_color: "#ffffff"

  android: false
  ios: false
  web: false

  # https://developer.android.com/reference/android/view/Gravity
  android_gravity: center
  # https://developer.apple.com/documentation/uikit/uiview/contentmode
  ios_content_mode: center
  # center, contain, stretch, and cover
  web_image_mode: center

  fullscreen: false


msix_config:
  display_name: Flounder
  publisher_display_name: Marco Hufnagel
  identity_name: com.hepmh.Flounder
  msix_version: __VERSION__.0
  logo_path: assets\desktop-icon.png


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0


flutter:
  uses-material-design: true

  assets:
    - assets/ding.mp3
