[Desktop Entry]
Version=1.0
Type=Application

Name=Flounder
Comment=A cross-platform counter that can be used for the time-management in scientific talks
Categories=Utility;Amusement;

Icon=com.hepmh.Flounder
Exec=flounder
Terminal=false
StartupWMClass=flounder